.progressBar-frame {
}

.progressBar {
  width: 500px;
  margin: 0px auto;
  --line-thickness: 8px;
  --static-point-diameter: 38px;
  --point-diameter: 38px;
  --start-point-diameter: 20px;
  --bar-length: 500px;
  --point-spread: calc(var(--bar-length) - var(--point-diameter));
  --point-distance: 63px;

  --indicator-portion: calc(0);
}

@keyframes loadInStartpoint {
  0%{
    transform: translateY(var(--point-translateY)) scale(0);
    opacity: 0;
  }
  70% {
    transform: translateY(var(--point-translateY)) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateY(var(--point-translateY)) scale(1);
    opacity: 1;
  }
}

.startPoint{
  --point-translateY: calc((var(--line-thickness) - var(--start-point-diameter)) / 2);
  width: var(--start-point-diameter);
  height: var(--start-point-diameter);
  position: absolute;
  transform: translateY(var(--point-translateY)) scale(0);
  opacity:0;
  animation: loadInStartpoint 0.4s ease-out 1 normal forwards;
  z-index: 10;
  background-color: #34d399;
  border-radius: 50%;
}

.progressLine {
  background-color: #a5b4fc;
  border-radius: var(--line-thickness);
  width: calc(var(--bar-length) - 1px);
  height: var(--line-thickness);
}

.progressPoint {
  --point-one-trans: calc(var(--start-point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter))/2 );
  --point-two-trans: calc(var(--point-one-trans) + var(--point-diameter) + var(--point-distance) );
  --point-three-trans:calc(var(--point-two-trans) + var(--point-diameter) + var(--point-distance));
  --point-four-trans:calc(var(--point-three-trans) + var(--point-diameter) + var(--point-distance)  );
  --point-five-trans:calc(var(--point-four-trans) + var(--point-diameter) + var(--point-distance)  );

  --point-translateY: calc((var(--line-thickness) - var(--point-diameter)) / 2);
  width: var(--point-diameter);
  position: absolute;
  z-index: 3;
  transform: translateY(var(--point-translateY));
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition:width 0.3s, transform 0.3s;
}

@keyframes loadInPoints {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.point {
  width: var(--point-diameter);
  height: var(--point-diameter);
  border-radius: 50%;
  background-color: #a5b4fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity:0;
  animation: loadInPoints 0.4s ease-out 1 normal forwards;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.point.reached {
  background-color: #34d399;
}

.progressPoint.one .point{
  animation: loadInPoints 0.4s ease-out 0.1s 1 normal forwards;
}

.progressPoint.two .point{
  animation: loadInPoints 0.4s ease-out 0.2s 1 normal forwards;
}

.progressPoint.three .point{
  animation: loadInPoints 0.4s ease-out 0.3s 1 normal forwards;
}

.progressPoint.four .point{
  animation: loadInPoints 0.4s ease-out 0.4s 1 normal forwards;
}

.progressPoint.five .point{
  animation: loadInPoints 0.4s ease-out 0.5s 1 normal forwards;
}

.progressBar .progressPoint {
  --point-diameter:38px;
  --point-translateY: calc((var(--line-thickness) - var(--point-diameter)) / 2);
  width: var(--point-diameter);
  
}

.progressBar .progressPoint:hover, .progressBar .progressPoint:hover .point {
  --point-diameter: 50px;
}

.progressBar .progressPoint:active, .progressBar .progressPoint:active .point {
  --point-diameter: 40px;
}

.progressBar .progressPoint:hover .point {
  width: var(--point-diameter);
  height: var(--point-diameter);
}

.progressPoint.one {
  --point-one-trans: calc(var(--start-point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter))/2 );
  transform: translate(
    var(--point-one-trans),
    var(--point-translateY)
  );
}

.progressPoint.two {
  --point-two-trans:calc(var(--point-one-trans) + var(--point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter)) );
  transform: translate(
    var(--point-two-trans),
    var(--point-translateY)
  );
}

.progressPoint.three {
  --point-three-trans:calc(var(--point-two-trans) + var(--point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter))*2 );
  transform: translate(
    var(--point-three-trans),
    var(--point-translateY)
  );
}

.progressPoint.four {
  --point-four-trans:calc(var(--point-three-trans) + var(--point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter))*3 );
  transform: translate(
    var(--point-four-trans),
    var(--point-translateY)
  );
}

.progressPoint.five {
  --point-five-trans:calc(var(--point-four-trans) + var(--point-diameter) + var(--point-distance) - calc(var(--point-diameter) - var(--static-point-diameter)) * 4);
  transform: translate(
    var(--point-five-trans),
    var(--point-translateY)
  );
}

.indicator {
  height: var(--line-thickness);
  width: calc(var(--indicator-portion) * var(--point-spread) + var(--start-point-diameter));
  background-color: #34d399;
  border-radius: var(--line-thickness);
  transition: width 0.4s;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../../fonts/Poppins-SemiBold.ttf") format("truetype") ;
  font-weight: 600;
  font-style: normal;
}

.text {
  text-align: center;
  font-family: Poppins;
  margin-top: 10px;
  background-color: #312e81;
  padding: 7px 15px;
  border-radius: 15px;
  color: white;
  opacity: 0;
  position: relative;
  top: -40px;
  transform: scale(0);
  transition: opacity 0.4s,transform 0.3s,top 0.3s;
}

.progressPoint:hover .text {
  opacity: 1;
  top: 0;
  transform: scale(1);
}

.box-anchor {
  position: relative;
  top:-200px;
  width: 10px;
  height: 10px;
}
