body {
  background-color: #eef2ff;
}

.progressBar-frame {
}

.progressBar {
  width: 500px;
  margin: 0px auto;
  --line-thickness: 8px;
  --point-diameter: 38px;
  --start-point-diameter: 20px;
  --bar-length: 500px;
  --point-spread: calc(var(--bar-length) - var(--point-diameter));
  --point-distance: 58px;
  --point-one-trans: calc(var(--start-point-diameter) + var(--point-distance));
  --point-two-trans:calc(var(--point-one-trans) + var(--point-diameter) + var(--point-distance));
  --point-three-trans:calc(var(--point-two-trans) + var(--point-diameter) + var(--point-distance));
  --point-four-trans:calc(var(--point-three-trans) + var(--point-diameter) + var(--point-distance));
  --point-five-trans:calc(var(--point-four-trans) + var(--point-diameter) + var(--point-distance));
  --indicator-steps:calc(var(--point-spread)/26);
  --indicator-multiplicator: 1;
}

.startPoint{
  --point-translateY: calc((var(--line-thickness) - var(--start-point-diameter)) / 2);
  width: var(--start-point-diameter);
  height: var(--start-point-diameter);
  position: absolute;
  transform: translateY(var(--point-translateY));
  z-index: 10;
  background-color: #34d399;
  border-radius: 50%;
}

.progressLine {
  background-color: #a5b4fc;
  border-radius: var(--line-thickness);
  width: calc(var(--bar-length) - 1px);
  height: var(--line-thickness);
}

.progressPoint {
  --point-translateY: calc((var(--line-thickness) - var(--point-diameter)) / 2);
  width: var(--point-diameter);
  position: absolute;
  z-index: 3;
  transform: translateY(var(--point-translateY));
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.point {
  width: var(--point-diameter);
  height: var(--point-diameter);
  border-radius: 50%;
  background-color: #a5b4fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point.reached {
  background-color: #34d399;
}

.point.reached .icon {
  fill: white;
  stroke: white;
}

.progressPoint.one {
  transform: translate(
    var(--point-one-trans),
    var(--point-translateY)
  );
}

.progressPoint.two {
  transform: translate(
    var(--point-two-trans),
    var(--point-translateY)
  );
}

.progressPoint.three {
  transform: translate(
    var(--point-three-trans),
    var(--point-translateY)
  );
}

.progressPoint.four {
  transform: translate(
    var(--point-four-trans),
    var(--point-translateY)
  );
}

.progressPoint.five {
  transform: translate(
    var(--point-five-trans),
    var(--point-translateY)
  );
}

.indicator {
  height: var(--line-thickness);
  width: calc(var(--indicator-multiplicator) * var(--indicator-steps));
  background-color: #34d399;
  border-radius: var(--line-thickness);
  transition: width 0.4s;
}

.text {
  text-align: center;
  font-family: helvetica;
  margin-top: 10px;
  background-color: #312e81;
  padding: 7px 15px;
  border-radius: 15px;
  color: white;
  opacity: 0;
  position: relative;
  top: -40px;
  transform: scale(0);
  transition: opacity 0.4s,transform 0.3s,top 0.3s;
}

.progressPoint:hover .text {
  opacity: 1;
  top: 0;
  transform: scale(1);
}
