@font-face {
  font-family: "Poppins";
  src: url("./../../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@keyframes loadIn {
  0% {
    transform: translateY(0px);
  }
  0.1%{
    opacity: 0;
    transform:  translateY(500px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform:  translateY(0px);
  }
}

.dataBoxes {
  --box-width: 500px;
}

.data-box {
  width: var(--box-width);
  padding-bottom: 20px;
  background-color: #6366f1;
  border-radius: 10px;
  margin: 30px auto;
  transform: translateY(0px);
  opacity: 0;
}

.data-box:nth-child(1) {
  animation: loadIn 0.6s 0.1s 1 normal forwards;
}

.data-box:nth-child(2) {
  animation: loadIn 0.6s 0.2s 1 normal forwards;
}

.data-box:nth-child(3) {
  animation: loadIn 0.6s 0.3s 1 normal forwards;
}

.data-box:nth-child(4) {
  animation: loadIn 0.6s 0.4s 1 normal forwards;
}

.data-box:nth-child(5) {
  animation: loadIn 0.6s 0.5s 1 normal forwards;
}

.data-box:nth-child(6) {
  animation: loadIn 0.6s 0.5s 1 normal forwards;
}

.data-box:nth-child(7) {
  animation: loadIn 0.6s 0.6s 1 normal forwards;
}

.data-box:nth-child(8) {
  animation: loadIn 0.6s 0.6s 1 normal forwards;
}

#download {
  transform: translateY(500px);
  opacity: 0;
  animation: loadIn 0.4s 0.7s 1 normal forwards;
}

.data-box * {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
}

#box-header {
  padding: 10px 20px 7px 15px;
  background-color: #e0e7ff;
  display: inline-block;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  font-family: Poppins;
  margin: 20px 0px;
}

input,
select {
  background-color: #a5b4fc;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 6px 10px;
  width: 45%;
  transition: background-color 0.4s;
}

input:hover,
select:hover,
textarea:hover {
  background-color: rgb(199 210 254);
}

input:focus,
select:focus,
textarea:focus {
  background-color: rgb(224 231 255);
  outline: none;
}

.data-box .form {
  margin-bottom: 50px;
}

.data-box .form.no-margin {
  margin-bottom: 0px;
}

.box-anchor {
  position: relative;
  top: -200px;
  width: 10px;
  height: 10px;
}

/*
.select-options {
  position: absolute;
  width:202.5px;
  background-color: #a5b4fc;
  border-radius:10px;
  transform: translate(211px,31px);
}

.select-options p {
  background-color: #a5b4fc;
  margin:0;
  padding:6px 10px;
  border-radius: 10px;
}

.select-options p:hover {
  background-color: rgb(199 210 254);
}

.select-options p:active {
  background-color:rgb(224 231 255);
}
*/
textarea {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  height: fit-content;
  background-color: #a5b4fc;
  border: none;
  border-radius: 10px;
  margin: 15px auto;
  display: block;
  padding: 6px 10px;
  transition: background-color 0.4s;
  overflow: hidden;
}

.long {
  margin: 25px auto;
  display: block;
  width: 90%;
}

.input-row {
  margin: 15px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin: 15px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

button {
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #312e81;
  transition: background-color 0.2s;
}

.buttons button {
  padding: 6px 10px;
  font-size: 16px;
}

button:hover, #clear:hover {
  background-color: rgb(34, 32, 94);
}
button:active, #clear:active {
  background-color: #312e81;
}

.delete {
  width: 6.5%;
  font-size: 16px;
}

.add {
  display: block;
  padding: 6px 10px;
  font-size: 16px;
}

.wrap-add-buttons {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 15px auto;
}

#download {
  padding: 15px 25px;
  margin: 30px auto;
  font-family: Poppins;
  font-weight: 600;
  background-color: #34d399;
  width: 180px;
  font-size: 18px;

  display: block;
  color: black;
}

#download:hover,
#autofill:hover {
  background-color: rgb(16 185 129);
}

#download:active,
#autofill:active {
  background-color: rgb(5 150 105);
}

.demo {
  justify-content: space-around;
}

.demo button {
  padding: 10px 25px;
  margin:0px 0px;
  font-family: Poppins;
  font-weight: 600;
  background-color: #312e81;
  width: 180px;
  font-size: 18px;
  display: block;
  color: white;
}

#clear {
  background-color: #312e81;
  color: white;
}

@keyframes loadInDownloadAnchor {
  0%{
    transform: scale(0) translate(200%,0px);
    opacity: 0;
  }
  70% {
    transform: scale(1) translate(-230%,0px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(-200%,0px);
    opacity: 1;
  }
}

.download-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background-color: #34d399;
  position: fixed;
  z-index: 5;
  left: 0px;
  transform: translate(-200%,0px);
}

.download-anchor.fresh {
  animation: loadInDownloadAnchor 0.4s 1 normal forwards;
}

.hide{
  display:none;
}

.download-anchor:hover {
  animation: bounceDownloadAnchor 0.4s 1 normal forwards;
}

.download-icon {
  transform: translate(-1px,-1px);
  pointer-events: none;
}

@keyframes bounceDownloadAnchor {
  0%{
    transform: scale(1) translate(-200%,0px);
  }
  50%{
    transform: scale(1) translate(-200%,10px);
  }
  100%{
    transform: scale(1) translate(-200%,0px);
  }
}