.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0px;
  background-color: #eef2ff;
  z-index: 5;
}

.alternative-header {
  background-color: #eef2ff;

  margin: 25px auto;
  padding: 30px;
  border-radius: 40px;
  position: fixed;
  top: 0px;
  left: 27.5%;
  transform: translateX(-50%);
}

.alternative-header.scrolled {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.progressBar-frame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loadInLogo {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  70% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.logo {
    transform: translateY(-100px);
    opacity: 0;
  margin-left: 60px;
  animation: loadInLogo 0.6s 1 normal forwards;
}
