.cv-preview {
  width: 45%;
  background-color: #6366f1;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  overflow: hidden;
}

@keyframes loadInCV {
  0%{
    opacity: 0;
    transform: scale(1.1) translateX(800px);
  }
  80%{
    opacity: 1;
    transform: scale(1.1) translateX(-20px);
  }
  100%{

    opacity: 1;
    transform: scale(1.1) translateX(0px);
  }
}

.cv {
  background-color: white;
  width: 530px;
  height: 750px;
  transform: scale(1.1) translateX(800px);
  position: relative;
  left:0px;
  animation: loadInCV 0.6s 0.1s 1 normal forwards;
  transition: left 1s, transform 2s;
}

@font-face {
  font-family: Poppins;
  src: url(./../../fonts/Poppins-SemiBold.ttf) format("truetype");
  weight:600;
  type:normal;
}