.cv-preview {
  width: 45%;
  background-color: #6366f1;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
  overflow: hidden;
}

@keyframes loadInCV {
  0% {
    opacity: 0;
    transform: scale(var(--scale)) translateX(800px);
  }
  80% {
    opacity: 1;
    transform: scale(var(--scale)) translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(var(--scale)) translateX(0px);
  }
}

.cv {
  background-color: white;
  width: 530px;
  height: 750px;
  --scale:1.1;
  transform: scale(var(--scale)) translateX(800px);
  position: relative;
  left: 0px;
  animation: loadInCV 0.6s 0.1s 1 normal forwards;
  transition: left 1s, transform 2s;
  margin-top: 20px;
}

.downloadable.cv {
  position:absolute;
  left: 10000px;
  --scale:1.5;
  transform: scale(var(--scale)) translateX(800px);
}

@font-face {
  font-family: Poppins;
  src: url(./../../fonts/Poppins-SemiBold.ttf) format("truetype");
  weight: 600;
  type: normal;
}

.buttons.cv-section {
  width:583px;
  justify-content: space-between;
}

.cv-section .download {
  margin:0px;
}

.buttons.cv-section button {
  width:180px;
  padding: 15px 25px;
  font-size: 18px;
  font-family: Poppins;
}