.information-area {
  background-color: #f0f0f0;
  width: 25%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.header-card {
  background-color: white;
  position: absolute;
  z-index: 3;
  border: 1px solid black;
  width: 237%;
  height: 15%;
  transform: translate(109px, 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header-card h2,
.header-card h3 {
  font-family: Calibri;
  text-align: center;
}

.header-card h2 {
  font-size: 24px;
}

.detailed-area {
  width: 75%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.detailed-blocks {
  position: relative;
  top: 150px;
  width: 90%;
  margin: 0 auto;
}

.block {
  margin: 20px 0;
}

.block-content {
  margin-bottom: 15px;
}

.information-area .block {
  margin-bottom: 25px;
}

.information-area .block h4 {
  font-size: 13px;
  font-weight: 400;
}

.information-area .block h5 {
  font-size: 11px;
  font-weight: 400;
  margin-bottom:2px;
}

.information-area .block p {
  font-size: 9px;
  margin-bottom: 2px;
}

.rating-block {
  margin: 10px 0px;
}

.block h4 {
  font-family:calibri;
  font-size: 14px;
}

.block h5 {
  font-family: calibri;
  font-size: 12px;
  font-weight: 600;
}

.block p,.block li {
  font-family: calibri;
  font-size: 11px;
}

.block .institution {
  font-weight: 400;
}

.underline {
  border-bottom: 1px solid black;
  width: 10%;
  margin:2px 0px 4px;
}

.achievement-with-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.achievement-with-institution {
  display: flex;
}

.skill-point {
    width: 18px;
    height: 8px;
    display:inline-block;
    margin: 0px 0px;
    background-color: rgb(163, 163, 163);
}

.skill-point.filled {
    background-color: black;
}

.skill-rating {
    height:10px;
    display:flex;
    align-items: center;
}