@media only screen  and (max-width:1564px) {

    @keyframes loadInLogoSmall {
        0% {
          transform: translate(-50%,-300px);
          opacity: 0;
        }
        70% {
          transform: translate(-50%,10px);
          opacity: 0.6;
        }
        100% {
          transform: translate(-50%,0px);
          opacity: 1;
        }
      }

    .logo {
        margin-left:calc((50% - 250px)/2);
        animation: loadInLogoSmall 0.6s 1 normal forwards;
    }
}

@media only screen and (max-width:1324px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    .logo img{
        width:40px;
        height:40px;
    }

    
}

@media only screen and (max-width:1364px) {
    @keyframes loadInCVsmall {
        0%{
            opacity: 0;
            transform: scale(0.9) translateX(800px);
          }
          80%{
            opacity: 1;
            transform: scale(0.9) translateX(-20px);
          }
          100%{
        
            opacity: 1;
            transform: scale(0.9) translateX(0px);
          }
    }
    .cv-preview .cv {
        animation: loadInCVsmall 0.6s 0.1s 1 normal forwards;
    }
}

@media only screen and (max-width:1174px) {
    .progressBar {
        --bar-length: 400px;
        --point-distance:43px;
    }

    @keyframes loadInLogoSmall {
        0% {
          transform: translate(-50%,-300px);
          opacity: 0;
        }
        70% {
          transform: translate(-50%,10px);
          opacity: 0.6;
        }
        100% {
          transform: translate(-50%,0px);
          opacity: 1;
        }
      }

    .logo {
        margin-left:calc((50% - 200px)/2);
        animation: loadInLogoSmall 0.6s 1 normal forwards;
    }
}   

@media only screen and (max-width:1150px) {
  .download{
  
  }

  .data-fill-section{
    width:100%;
  }

  .cv-preview {
    width: 100%;
  }
}